<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" >
    <title>Auction ŽP19/1</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
        <a class="navbar-brand" href="/">Auction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="margin-left: 17px;" class="navbar-nav mr-auto row">
                <li class="nav-item">
                <a class="nav-link" href={{url_for('home')}}>Home</a>
                <li class="nav-item">
                <a class="nav-link" href={{url_for('about')}}>About</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href={{url_for('all')}}>All</a>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <button class="text-white btn dropdown-toggle bg-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{current_user.username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href={{url_for('add_item')}}>Add Item</a>
                  <a class="dropdown-item" href={{url_for('items', user_id=current_user.id)}}>My Items</a>
                  <a class="dropdown-item" href={{url_for('home')}}>Profile</a>
                  <div class="border-bottom"></div>
                  <a class="dropdown-item" href={{url_for('logout')}}>Logout</a>
                </div>
              </div>
                
            {% else %}
                <a class="nav-link text-white" href={{url_for('login')}}>Login</a>
                <a class="nav-link text-white" href={{url_for('register')}}>Register</a>
            {% endif %}
            
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="mt-2 alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>