{% extends 'layout.html' %}
{% block content %}
    <h1>{{title}}</h1>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">User Email</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        {% for ofr in offers %}
          <tr>
            <td>{{ofr.username}}</td>
            <td>{{ofr.email}}</td>
            <td><a class="text-white" href={{url_for('item', item_id=ofr.id)}}>{{ofr.name.capitalize()}}</a></td>
            <td>{{ofr.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content%}